.exp{
    padding-top: 120px;
    &__subtitle{
        position: relative;
        text-align: center;
        @include before_circle;
        &:before{
            left: 47%;
        }
    }  
    
    &__title{
        text-align: center;
    }
    &__divider{
        display: block;
        margin: 0 auto;
        margin-top: 2px;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 65px 60px 89px 0px;
        row-gap: 136px;
        column-gap: 136px;
    }
    &_part{
        ul{
            list-style-type: none;
            position: relative;
            &:before{
                content: '';
                width: 1px;
                background-color: #000;
                height: 90%;
                position: absolute;
                left:6px;
                top: 7%;
            }
        }
        &__title{
            margin-left: 43px;
            position: relative;
            &:before{
                content: '';
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $first_main_color;
                position: absolute;
                top: 25%;
                left: -44px;
            }
        }
    }

    &__item{
        position: relative;
        &:before{
            height: 1px;
            content: '';
            width: 39px;
            left: 6px;
            top: 27px;
            position: absolute;
            background: #000;
        }
        text-decoration: none;
        padding-left: 58px;
        &__header{
            margin-top: 35px;
            display: flex;
            flex-direction: row;
            &_img{
                margin-top: 11px;
                @include before_circle;
                position: relative;
                &:before{
                    top: -2px;
                    left: -14px;
                }
             
            }
            &_text{
                margin-left: 18px;
            }
        }
        &__text{
            margin-top: 12px;
        }
    }
}