.hamburger{
    position: absolute;
    right: 49px;
    top: 26px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 26px;

    align-items: flex-end;

    &__item{
        width: 38px;
        height: 4px;
        background-color: $text_promo_color;
        &__center{
            width: 44px;
            height: 4px;
            background-color: $text_promo_color;
        }
    }
    &:hover{
        cursor: pointer;
    }

}

.menu{
    z-index: 5;
    position: absolute;
    visibility: visible;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    
    &.non_active{
        visibility: hidden;
        left: -100%;
    }

    &__opacity{
        background-color: black;
        opacity: 0.75;
    }
    &__block{
        position: relative;
        height: 100%;
        width:465px;
        background-color: $first_main_color;
        z-index: 7;
        transition: all .6s;
    }
    &__close{
        position: absolute;
        right: 25px;
        top: 25px;
        &:hover{
            cursor: pointer;
        }
    }
    &__main{
        padding: 178px 39px;
    }
    &__list{
        margin-left: 75px;
        list-style-type: none;
        &__item{
            position: relative;
            font-size: 34px;
            margin-bottom: 20px;
            a{
                color: $text_promo_color;
            }
            &:before{
                content: '';
                position: absolute;
                left:-40px;
                top: 16px;
                width: 20px;
                height: 20px;
                border: 2px solid #000000;
                border-radius: 100%;
                
            }
            &:hover{
                &:before{
                    background: #fff;
                }
            }

        }
    }

    &__social{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 150px;
        position: absolute;
        bottom:50px;
        left: 25%;
    }
    
}

